@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar-container::-webkit-scrollbar {
  display: none;
  /* width: 8px;  */
}

/* Track */
.scrollbar-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
.scrollbar-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  /* display: block; */
}

/* Handle on hover */
.scrollbar-container::-webkit-scrollbar-thumb:hover {
  display: block;
  background: #555; /* Color of the scrollbar handle when hovered */
}